$primary_color:#FF5E18;
$heading_color:#404040;
$white:#fff;
$black:#000;
$body_color:#727272;



//font
$husand: 'Great Vibes', cursive;
$bold:700;
$semi_bold:600;
$medium:500;
$regular:400;
$light:300;